.homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.homepage .div-3 {
  background-color: #ffffff;
  height: 6079px;
  overflow: hidden;
  position: relative;
  width: 1512px;
}

.homepage .overlap-9 {
  height: 1499px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1632px;
}

.homepage .rectangle-7 {
  background-color: var(--variable-collection-primary);
  height: 815px;
  left: 0;
  position: absolute;
  top: 666px;
  width: 1512px;
}

.homepage .background {
  height: 1076px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1632px;
}

.homepage .overlap-group-7 {
  height: 1076px;
  position: relative;
  width: 1512px;
}

.homepage .vector {
  height: 867px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1512px;
}

.homepage .union {
  height: 932px;
  left: 924px;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 144px;
  width: 588px;
}

.homepage .union-2 {
  height: 504px;
  left: 565px;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 433px;
  width: 383px;
}

.homepage .union-3 {
  height: 617px;
  left: 50px;
  mix-blend-mode: color-burn;
  position: absolute;
  top: 276px;
  width: 445px;
}

.homepage .free-discount {
  height: 200px;
  left: 100px;
  position: absolute;
  top: 485px;
  width: 415px;
}

.homepage .overlap-10 {
  height: 200px;
  position: relative;
}

.homepage .rectangle-8 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background: linear-gradient(
    180deg,
    rgb(244, 120, 32) 3.53%,
    rgba(250.95, 224.08, 205, 0.22) 66.69%,
    rgba(252.88, 252.88, 252.88, 0) 100%
  );
  border-radius: 20px;
  height: 200px;
  left: 40px;
  opacity: 0.83;
  position: absolute;
  top: 0;
  width: 375px;
}

.homepage .dicount-icon {
  height: 133px;
  left: 0;
  position: absolute;
  top: 36px;
  width: 112px;
}

.homepage .overlap-group-8 {
  height: 133px;
  position: relative;
}

.homepage .rectangle-9 {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000000d;
  height: 116px;
  left: 12px;
  position: absolute;
  top: 9px;
  transform: rotate(-13.39deg);
  width: 88px;
}

.homepage .comercial-discount {
  height: 60px;
  left: 26px;
  position: absolute;
  top: 37px;
  width: 60px;
}

.homepage .get-off-your {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 139px;
  letter-spacing: 0;
  line-height: 38.1px;
  position: absolute;
  top: 26px;
  width: 219px;
}

.homepage .you-get-over {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 142px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 106px;
  width: 184px;
}

.homepage .text-wrapper-50 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.homepage .text-wrapper-51 {
  font-weight: 700;
}

.homepage .text-wrapper-52 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
  width: 107px;
}

.homepage .coupon-code {
  align-items: center;
  background-color: #f47820;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #0000000d;
  display: flex;
  flex-direction: column;
  height: 30px;
  justify-content: center;
  left: 251px;
  position: absolute;
  top: 148px;
  width: 80px;
}

.homepage .text-wrapper-53 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 64px;
}

.homepage .freee-shipping-card {
  height: 200px;
  left: 545px;
  position: absolute;
  top: 535px;
  width: 415px;
}

.homepage .rectangle-10 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #0000001a;
  height: 200px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 375px;
}

.homepage .free-express {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 139px;
  letter-spacing: 0;
  line-height: 38.1px;
  position: absolute;
  top: 26px;
  width: 219px;
}

.homepage .orders-above {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 106px;
  width: 188px;
}

.homepage .text-wrapper-54 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.homepage .text-wrapper-55 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  left: 139px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 151px;
  width: 175px;
}

.homepage .delivery-van {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 133px;
  justify-content: flex-end;
  left: 0;
  padding: 20.38px 0px 0px 112.47px;
  position: absolute;
  top: 33px;
  width: 112px;
}

.homepage .rectangle-11 {
  background-color: #000000;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000000d;
  height: 116px;
  margin-left: -44px;
  margin-right: -44px;
  margin-top: -11.76px;
  position: relative;
  transform: rotate(-166.61deg);
  width: 88px;
}

.homepage .hot-banner {
  height: 534px;
  left: 984px;
  position: absolute;
  top: 190px;
  width: 428px;
}

.homepage .overlap-11 {
  height: 547px;
  position: relative;
  top: -13px;
  width: 445px;
}

.homepage .rectangle-12 {
  height: 529px;
  left: 21px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 424px;
}

.homepage .text-wrapper-56 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 42px;
  width: 294px;
}

.homepage .button {
  all: unset;
  align-items: flex-end;
  background-color: #f47820;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #0000000d;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 50px;
  justify-content: center;
  left: 0;
  padding: 0px 39px;
  position: absolute;
  top: 406px;
  width: 155px;
}

.homepage .text-wrapper-57 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  text-align: center;
  width: 76px;
}

.homepage .text-wrapper-58 {
  color: #ffffff;
  font-family: "Poppins-SemiBoldItalic", Helvetica;
  font-size: 15px;
  font-style: italic;
  font-weight: 600;
  left: 68px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 186px;
  width: 102px;
}

.homepage .pignation {
  height: 20px;
  left: 204px;
  position: absolute;
  top: 527px;
  width: 58px;
}

.homepage .ellipse-wrapper {
  border: 1px solid;
  border-color: #f47820;
  border-radius: 10px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.homepage .ellipse-4 {
  background-color: #f47820;
  border-radius: 7px;
  height: 14px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 14px;
}

.homepage .ellipse-5 {
  background-color: #d9d9d9;
  border-radius: 7px;
  height: 14px;
  left: 25px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.homepage .ellipse-6 {
  background-color: #d9d9d9;
  border-radius: 7px;
  height: 14px;
  left: 44px;
  position: absolute;
  top: 3px;
  width: 14px;
}

.homepage .top-categories {
  height: 682px;
  left: 100px;
  position: absolute;
  top: 817px;
  width: 1312px;
}

.homepage .text-wrapper-59 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 502px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -1px;
}

.homepage .overlap-12 {
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000008;
  height: 563px;
  left: 0;
  position: absolute;
  top: 119px;
  width: 1312px;
}

.homepage .frame-5 {
  background-color: #ffdac0;
  border-radius: 30px;
  box-shadow: 0px 4px 70px 13px #0000001a;
  height: 461px;
  left: 30px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 294px;
}

.homepage .wavyz-x-wrapper {
  border-radius: 20px;
  height: 321px;
  left: 16px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  width: 263px;
}

.homepage .wavyz-x {
  height: 322px;
  left: -35px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 322px;
}

.homepage .dried-magic {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  line-height: 30.5px;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 263px;
}

.homepage .hover-item {
  background: linear-gradient(180deg, rgb(244, 120, 32) 7.24%, rgba(255, 255, 255, 0) 98.72%);
  border-radius: 30px;
  height: 461px;
  left: 0;
  position: absolute;
  top: 485px;
  width: 294px;
}

.homepage .group-11 {
  height: 72px;
  left: 32px;
  position: relative;
  top: 195px;
  width: 231px;
}

.homepage .overlap-group-9 {
  border: 3px solid;
  border-color: #ffffff;
  border-radius: 23px;
  height: 72px;
  position: relative;
  width: 229px;
}

.homepage .text-wrapper-60 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.homepage .frame-7 {
  background-color: #ffdac0;
  border-radius: 30px;
  box-shadow: 0px 4px 70px 13px #0000001a;
  height: 461px;
  left: 349px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 294px;
}

.homepage .frame-8 {
  background-color: #ffdac0;
  border-radius: 30px;
  box-shadow: 0px 4px 70px 13px #0000001a;
  height: 461px;
  left: 668px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 294px;
}

.homepage .dried-magic-2 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 700;
  left: 16px;
  letter-spacing: 0;
  line-height: 31.7px;
  position: absolute;
  text-align: center;
  top: 364px;
  width: 263px;
}

.homepage .frame-9 {
  background-color: #ffdac0;
  border-radius: 30px;
  box-shadow: 0px 4px 70px 13px #0000001a;
  height: 461px;
  left: 987px;
  overflow: hidden;
  position: absolute;
  top: 51px;
  width: 294px;
}

.homepage .frame-10 {
  background-image: url(../../../static/img/wavyz3-1-300x300-1-3.png);
  background-size: 100% 100%;
  border-radius: 20px;
  height: 321px;
  left: 16px;
  position: absolute;
  top: 20px;
  width: 263px;
}

.homepage .main-top-nav {
  align-items: center;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 49px 100px 16px;
  position: absolute;
  top: 0;
  width: 1512px;
}

.homepage .frame-11 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1226px;
}

.homepage .layer-2 {
  height: 75px;
  position: relative;
  width: 212px;
}

.homepage .frame-12 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 848px;
}

.homepage .frame-13 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 713px;
}

.homepage .frame-14 {
  align-items: center;
  display: flex;
  gap: 40px;
  height: 23px;
  position: relative;
  width: 213px;
}

.homepage .text-wrapper-61 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.homepage .search-2 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 3px 10px 3px 20px;
  position: relative;
  width: 400px;
}

.homepage .text-wrapper-62 {
  color: var(--variable-collection-light-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.homepage .account-sign-in {
  align-items: center;
  background-color: #000000;
  border-radius: 10px;
  display: flex;
  gap: 13px;
  height: 30px;
  padding: 3px 10px;
  position: relative;
  width: 115px;
}

.homepage .text-wrapper-63 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -0.5px;
  position: relative;
  width: fit-content;
}

.homepage .frame-15 {
  height: 30px;
  position: relative;
  width: 70px;
}

.homepage .img-wrapper {
  background-color: var(--variable-collection-primary);
  border-radius: 10px;
  height: 30px;
  left: 40px;
  position: absolute;
  top: 0;
  width: 30px;
}

.homepage .comercial-shopping-2 {
  height: 26px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 26px;
}

.homepage .wish-list-2 {
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 30px;
}

.homepage .text-wrapper-64 {
  color: #000000;
  font-family: "Poppins-BoldItalic", Helvetica;
  font-size: 52px;
  font-style: italic;
  font-weight: 700;
  left: 155px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 219px;
  width: 262px;
}

.homepage .text-wrapper-65 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 52px;
  font-weight: 600;
  left: 155px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 280px;
  width: 313px;
}

.homepage .buy-shroms-online {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 52px;
  font-weight: 400;
  left: 111px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 353px;
  width: 520px;
}

.homepage .text-wrapper-66 {
  color: #000000;
  font-weight: 600;
}

.homepage .text-wrapper-67 {
  color: #f47820;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
}

.homepage .text-wrapper-68 {
  color: #000000;
  font-family: "Poppins-ExtraBold", Helvetica;
  font-weight: 800;
}

.homepage .about-US {
  height: 819px;
  left: 83px;
  position: absolute;
  top: 1599px;
  width: 1347px;
}

.homepage .overlap-13 {
  height: 799px;
  left: 40px;
  position: absolute;
  top: 28px;
  width: 1389px;
}

.homepage .rectangle-13 {
  height: 658px;
  left: 97px;
  position: absolute;
  top: 141px;
  width: 1132px;
}

.homepage .text-wrapper-69 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 711px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 556px;
}

.homepage .ellipse-7 {
  height: 743px;
  left: 658px;
  object-fit: cover;
  position: absolute;
  top: 30px;
  width: 732px;
}

.homepage .about-text {
  background-color: #080000;
  border-radius: 30px;
  box-shadow: 0px 0px 4px 17px #00000008;
  height: 444px;
  left: 0;
  position: absolute;
  top: 244px;
  width: 663px;
}

.homepage .lorem-ipsum-dolor {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
  width: 609px;
}

.homepage .text-wrapper-70 {
  color: #ffffff;
}

.homepage .text-wrapper-71 {
  color: #f47820;
}

.homepage .text-wrapper-72 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 22px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
  width: 602px;
}

.homepage .overlap-group-10 {
  height: 60px;
  left: 39px;
  position: absolute;
  top: 364px;
  width: 597px;
}

.homepage .rectangle-14 {
  background-color: #969696;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 597px;
}

.homepage .text-wrapper-73 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 166px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 251px;
}

.homepage .overlap-14 {
  height: 119px;
  left: 0;
  position: absolute;
  top: -1px;
  width: 239px;
}

.homepage .knowing-us {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 59px;
}

.homepage .text-wrapper-74 {
  color: #000000;
}

.homepage .text-wrapper-75 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.homepage .text-wrapper-76 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 533px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4588px;
}

.homepage .text-wrapper-77 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 654px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 4648px;
}

.homepage .highlights {
  height: 738px;
  left: 88px;
  position: absolute;
  top: 2518px;
  width: 1312px;
}

.homepage .overlap-15 {
  background-color: #969696b5;
  border-radius: 30px;
  height: 613px;
  position: relative;
  top: 28px;
}

.homepage .overlap-16 {
  height: 105px;
  left: 61px;
  position: absolute;
  top: 29px;
  width: 367px;
}

.homepage .text-wrapper-78 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.homepage .text-wrapper-79 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 45px;
}

.homepage .pignation-2 {
  height: 20px;
  left: 61px;
  position: absolute;
  top: 563px;
  width: 58px;
}

.homepage .overlap-17 {
  height: 317px;
  left: 51px;
  position: absolute;
  top: 168px;
  width: 581px;
}

.homepage .frame-16 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 317px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 571px;
}

.homepage .group-12 {
  background-color: #ffdac029;
  border-radius: 33px;
  height: 66px;
  left: 252px;
  position: absolute;
  top: 183px;
  width: 66px;
}

.homepage .ellipse-8 {
  height: 50px;
  left: 8px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 50px;
}

.homepage .text-wrapper-80 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 56px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 55px;
  width: 458px;
}

.homepage .text-wrapper-81 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 250px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 258px;
}

.homepage .arrows-chevron-wrapper {
  background: linear-gradient(180deg, rgb(244, 120, 32) 0%, rgba(244, 120, 32, 0) 97.29%);
  border-radius: 43px;
  height: 30px;
  left: 0;
  position: absolute;
  top: 114px;
  width: 30px;
}

.homepage .arrows-chevron {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 24px;
  width: 18px;
}

.homepage .frame-17 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 317px;
  left: 680px;
  position: absolute;
  top: 168px;
  width: 571px;
}

.homepage .group-13 {
  background-color: #ffdac029;
  border-radius: 33px;
  height: 66px;
  left: 253px;
  position: absolute;
  top: 183px;
  width: 66px;
}

.homepage .text-wrapper-82 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 55px;
  width: 458px;
}

.homepage .text-wrapper-83 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 258px;
}

.homepage .cart-2 {
  background: linear-gradient(180deg, rgb(244, 120, 32) 0%, rgba(244, 120, 32, 0) 97.29%);
  border-radius: 43px;
  height: 30px;
  left: 1261px;
  position: absolute;
  top: 312px;
  width: 30px;
}

.homepage .arrows-chevron-2 {
  height: 18px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 18px;
}

.homepage .overlap-18 {
  border-radius: 30px;
  height: 158px;
  left: 88px;
  position: absolute;
  top: 5397px;
  width: 1312px;
}

.homepage .subscribtion {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 4px 74px 25px #00000008;
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1312px;
}

.homepage .overlap-19 {
  border: 1px solid;
  border-color: #f47820;
  border-radius: 15px;
  height: 66px;
  left: 828px;
  position: absolute;
  top: 56px;
  width: 444px;
}

.homepage .text-wrapper-84 {
  color: var(--variable-collection-light-gray);
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 198px;
}

.homepage .text-wrapper-85 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 355px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 20px;
}

.homepage .text-wrapper-86 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
}

.homepage .text-wrapper-87 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 60px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 93px;
}

.homepage .top-product-sale-2 {
  align-items: center;
  background-color: #006838;
  border-radius: 10px;
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  left: 1106px;
  overflow: hidden;
  padding: 13px 38px;
  position: absolute;
  top: 64px;
}

.homepage .text-wrapper-88 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.homepage .frame-18 {
  background-color: #ffdac0;
  border-radius: 30px;
  box-shadow: 0px 4px 23px 23px #00000008;
  height: 556px;
  left: 792px;
  position: absolute;
  top: 4729px;
  width: 620px;
}

.homepage .overlap-20 {
  background-color: var(--variable-collection-primary);
  border-radius: 20px;
  height: 354px;
  left: 54px;
  position: absolute;
  top: 131px;
  width: 512px;
}

.homepage .group-14 {
  height: 320px;
  left: 67px;
  position: absolute;
  top: 18px;
  width: 378px;
}

.homepage .we-serve-all-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 62px;
  font-weight: 700;
  left: 41px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 37px;
}

.homepage .we-are-delighted-to-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 81px;
}

.homepage .order-process-2 {
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 23px 20px #00000008;
  height: 556px;
  left: 88px;
  position: absolute;
  top: 4729px;
  width: 620px;
}

.homepage .overlap-21 {
  height: 225px;
  left: 32px;
  position: absolute;
  top: 79px;
  width: 268px;
}

.homepage .rectangle-15 {
  background-color: #f48720;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000008;
  height: 215px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 258px;
}

.homepage .ellipse-9 {
  background-color: #000000;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.homepage .text-wrapper-89 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 15px;
}

.homepage .text-wrapper-90 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
  width: 194px;
}

.homepage .overlap-22 {
  height: 225px;
  left: 320px;
  position: absolute;
  top: 79px;
  width: 268px;
}

.homepage .rectangle-16 {
  background-color: #ffdac0;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000008;
  height: 215px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 258px;
}

.homepage .ellipse-10 {
  background-color: #f47820;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 60px;
}

.homepage .text-wrapper-91 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 18px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 24px;
}

.homepage .text-wrapper-92 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 119px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 166px;
  width: 10px;
}

.homepage .text-wrapper-93 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 42px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 60px;
  width: 194px;
}

.homepage .overlap-23 {
  height: 225px;
  left: 32px;
  position: absolute;
  top: 312px;
  width: 268px;
}

.homepage .text-wrapper-94 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 17px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 25px;
}

.homepage .text-wrapper-95 {
  color: #f47820;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
  width: 210px;
}

.homepage .overlap-24 {
  height: 225px;
  left: 320px;
  position: absolute;
  top: 312px;
  width: 268px;
}

.homepage .rectangle-17 {
  background-color: #f47820;
  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000008;
  height: 215px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 258px;
}

.homepage .text-wrapper-96 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  left: 16px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 27px;
}

.homepage .text-wrapper-97 {
  color: #ffdac0;
  font-family: "Poppins", Helvetica;
  font-size: 25px;
  font-weight: 600;
  left: 34px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
  width: 210px;
}

.homepage .we-aim-to-provide-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 500;
  left: 57px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
}

.homepage .footer-wrapper {
  height: 412px;
  left: 0;
  position: absolute;
  top: 5667px;
  width: 1512px;
}

.homepage .footer-2 {
  height: 412px;
  width: 1550px;
}

.homepage .overlap-group-11 {
  background-color: var(--variable-collection-light-gray);
  height: 412px;
  position: relative;
  width: 1512px;
}

.homepage .text-wrapper-98 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 1228px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
}

.homepage .copyright-three-2 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 100px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 332px;
  width: 247px;
}

.homepage .terms-conditions-2 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 447px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 331px;
  width: 153px;
}

.homepage .text-wrapper-99 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 637px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 331px;
  width: 112px;
}

.homepage .text-wrapper-100 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 500;
  left: 786px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 331px;
  width: 143px;
}

.homepage .text-wrapper-101 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
}

.homepage .mushroom-species {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
}

.homepage .text-wrapper-102 {
  color: #000000;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 700;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 58px;
}

.homepage .text-wrapper-103 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 140px;
  width: 33px;
}

.homepage .text-wrapper-104 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 102px;
  width: 33px;
}

.homepage .mirodosing-capsules {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 102px;
  width: 167px;
}

.homepage .text-wrapper-105 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 102px;
  width: 52px;
}

.homepage .text-wrapper-106 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 140px;
  width: 186px;
}

.homepage .text-wrapper-107 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 140px;
  width: 52px;
}

.homepage .text-wrapper-108 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
  width: 60px;
}

.homepage .text-wrapper-109 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 188px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
  width: 47px;
}

.homepage .text-wrapper-110 {
  color: #969696;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 549px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 218px;
  width: 60px;
}

.homepage .text-wrapper-111 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 178px;
  width: 79px;
}

.homepage .text-wrapper-112 {
  color: var(--variable-collection-gray);
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 300;
  left: 905px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 218px;
  width: 61px;
}

.homepage .line-3 {
  height: 1px;
  left: 100px;
  position: absolute;
  top: 294px;
  width: 1312px;
}

.homepage .positivessl-2 {
  height: 24px;
  left: 1282px;
  object-fit: cover;
  position: absolute;
  top: 329px;
  width: 130px;
}

.homepage .cart-3 {
  background-color: #f47820;
  border-radius: 15px;
  height: 30px;
  left: 1226px;
  position: absolute;
  top: 102px;
  width: 30px;
}

.homepage .interface-essential-2 {
  height: 24px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 24px;
}

.homepage .cart-4 {
  background-color: #f47820;
  border-radius: 15px;
  height: 30px;
  left: 1266px;
  position: absolute;
  top: 102px;
  width: 30px;
}

.homepage .icon-2 {
  height: 20px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 20px;
}

.homepage .rectangle-18 {
  background-color: #000000;
  height: 22px;
  left: 618px;
  position: absolute;
  top: 331px;
  width: 1px;
}

.homepage .rectangle-19 {
  background-color: #000000;
  height: 22px;
  left: 767px;
  position: absolute;
  top: 331px;
  width: 1px;
}

.homepage .perks {
  height: 1083px;
  left: 1px;
  position: absolute;
  top: 3356px;
  width: 1510px;
}

.homepage .top-perks-for-you-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 87px;
  position: absolute;
  top: 0;
  width: 1336px;
}

.homepage .top-perks-for-you {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: fit-content;
}

.homepage .frame-19 {
  height: 486px;
  left: 0;
  overflow: hidden;
  overflow-x: scroll;
  position: absolute;
  top: 110px;
  width: 1510px;
}

.homepage .element-wrapper {
  background-color: #ffffff;
  border-radius: 21px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 486px;
  left: 87px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 426px;
}

.homepage .element-2 {
  height: 346px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 70px;
  width: 425px;
}

.homepage .frame-20 {
  background-color: #ffffff;
  border-radius: 21px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 486px;
  left: 543px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 426px;
}

.homepage .frame-21 {
  background-color: #ffffff;
  border-radius: 21px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 486px;
  left: 999px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 426px;
}

.homepage .frame-22 {
  background-color: #ffffff;
  border-radius: 21px;
  box-shadow: 0px 4px 39px #0000000a;
  height: 486px;
  left: 1455px;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 426px;
}

.homepage .frame-wrapper {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 88px;
  position: absolute;
  top: 696px;
  width: 1334px;
}

.homepage .frame-23 {
  align-items: flex-end;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.homepage .frame-24 {
  align-items: center;
  align-self: stretch;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 32.92%, rgba(244, 120, 32, 0) 100%);
  border-radius: 30px;
  box-shadow: 0px 4px 4px #00000008;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 36px 34.89px;
  position: relative;
  width: 100%;
}

.homepage .frame-25 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 39px;
  overflow: hidden;
  position: relative;
  width: 554.3px;
}

.homepage .frame-26 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 28px;
  position: relative;
  width: 100%;
}

.homepage .lorem-ipsum-dolor-2 {
  color: transparent;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 436.66px;
}

.homepage .text-wrapper-113 {
  align-self: stretch;
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.homepage .top-product-sale-3 {
  align-items: center;
  background-color: #006838;
  border-radius: 10px;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 13px 38px;
  position: relative;
  width: 170.48px;
}

.homepage .text-wrapper-114 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -0.26px;
  margin-right: -0.26px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.homepage .frame-27 {
  background-color: #ffffff;
  box-shadow: 0px 4px 4px #00000008;
  height: 315px;
  position: relative;
  width: 356.91px;
}

.homepage .dames-grape-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  left: 7px;
  position: relative;
  top: -28px;
  width: 343px;
}

.homepage .dames-grape {
  align-self: stretch;
  height: 343px;
  object-fit: cover;
  position: relative;
  width: 100%;
}
